.page-section {
  position: relative;
  z-index: 9;
  padding-top: 150px;
  @media (max-width:991px) {
    padding-top: 100px;
  }
}
.section--trusted {
  padding-top: 119px;
  @media (max-width:991px) {
    padding-top: 100px;
  }
  @media (max-width: 768px) {
    padding-top: 80px;
  }
}

.section--features {
  
  padding-top: 27px;

}
.section--product {
  padding-bottom: 150px;
}
