.page-section {
  position: relative;
  z-index: 9;
  padding-top: 150px;
  @media (max-width:991px) {
    padding-top: 100px;
  }
}
.page--trusted {
  padding-top: 119px;
  @media (max-width:991px) {
    padding-top: 100px;
  }
  @media (max-width: 768px) {
    padding-top: 80px;
  }
}

.page--features {
  padding: 27px 15px 0 15px;
  


}
.page--product {
  padding-bottom: 150px;
}
