.page-section {
  position: relative;
  z-index: 9;
  padding-top: 150px;
}
.section-trusted {
  padding-top: 119px;
}

.section-features {
  
  padding-top: 0;

}
.section-product {
  padding-bottom: 150px;
}
